{"IsCreateGet":false,"IsCreateGetList":true,"IsCreateInsert":false,"IsCreateUpdate":false,"IsCreateInsertUpdate":false,"IsCreateDelete":false,"IsCreateMergeList":false,"IsCreateStoredProcedures":true,"DbProjectName":null,"IsCreateModel":false,"IsPascalCase":true,"IsCreateService":false,"IsCreateController":false,"ApiProjectName":null,"ModelName":"BlogComments","ModelVariableName":"blogComments","IsCreateAngularModel":false,"IsCreateAngularService":false,"IsCreateAngularComponent":false,"IsCreateAngularListComponent":false,"FrontEndProjectPath":null}